<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SexMapper">
    <resultMap id="resultMap" type="role">
        <id property="id" column="id" />
        <result property="roleName" column="role_name"/>
        <result property="note" column="note" />
        <result property="sexEnum" column="sex" typeHandler="typeHandler.SexTypeHandler" />
    </resultMap>
    <sql id="sql">
        id,role_name,note,sex
    </sql>
    <select id="getRole" resultMap="resultMap">
        select <include  refid="sql"/> from t_role
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
        </where>
    </select>
    <select id="findRoles" resultMap="resultMap" >
        <bind name="roleName" value="'%'+roleName+'%'"/>
        <bind name="note" value="'%'+note+'%'"/>
        select id,role_name,note,sex from t_role where role_name like #{roleName} and note like #{note}
    </select>

    <update id="updateRole" parameterType="role">
        update t_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="note != null and note != ''">
                note = #{note},
            </if>
            <if test="sexEnum != null ">
                sex = #{sexEnum,typeHandler = typeHandler.SexTypeHandler},
            </if>
        </set>
        where id = #{id}
    </update>
    <insert id="insertRole" parameterType="role" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
      insert into t_role(role_name,note,sex) values
          (#{roleName},#{note},#{sexEnum,typeHandler = typeHandler.SexTypeHandler})
    </insert>
</mapper>
