<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="database.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="database.url" value="jdbc:mysql://localhost:3306/mydatabase?useSSL=false"/>
        <property name="database.username" value="root"/>
        <property name="database.password" value="yxh314159ab"/>
    </properties>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <package name="pojo"/>
    </typeAliases>

    <typeHandlers>
        <package name="typeHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 开启缓存
        <cache/>
    -->

    <mappers>
        <mapper resource="sqlMapper/roleMapper.xml"/>
        <!--
        <mapper resource="sqlMapper/sexMapper.xml"/>
        -->
    </mappers>

</configuration>